<div >

  <form ng-submit=''>
    <h1>Register:</h1>
    <label>First Name: <input type="text" ng-model='new.fname'></label>
    <label>Last Name: <input type="text" ng-model='new.lname'></label>
    <label>Email: <input type="text" ng-model='new.email'></label>
    <label>Birthday: <input type="text" ng-model='new.bday'></label>
    <label>Password: <input type="text" ng-model='new.pword'></label>
    <label>Confirm Password: <input type="text" ng-model='new.cpword'></label>
  </form>

  <form ng-submit=''>
    <h1>Login:</h1>
    <label>Email: <input type="text" ng-model=''></label>
    <label>Password: <input type="text" ng-model=''></label>
  </form>
</div>
