<div ng-controller='userController'>
  <div ng-controller='questionController'>
<a href="#!/home" >Home</a> | <a href="#!/new_question">Add a Question</a> | <a href="" ng-click='logout()'>Logout</a>
<p><button type="button" name="button"><a href="#!/lets_play">Play!</a></button></p>
<p>Click the button above to start the trivia game.</p>
<p>Search: <input ng-model='search._uTest.name' type="text" name="" value=""></p>
<table border>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='result in results | filter:search'>
      <td>{{result._uTest.name}}</td>
      <td>{{result.score}}/3</td>
      <td>{{result.percentage}}%</td>
    </tr>
  </tbody>
</table>
</div>
</div>
