<div ng-controller='userController'>
    <div ng-controller="questionController">
        <a href="#!/home">Home</a> | <a href="#!/new_question">Add a Question</a> | <a href="" ng-click='logout()'>Logout</a>
        <h1>New Question</h1>
        <form ng-submit="newQuestion()" name='questoin'>
            <p>Question: <input name="quest" ng-minlength="15" ng-model='question.question' required></p>
            <p>Correct Answer: <input name='cAns' ng-model='question.cAnswer' required></p>
            <p>fake Answer 1: <input name='fAnsWan' ng-model='question.fAnswerOne' required></p>
            <p>fake Answer 2: <input name='fAnsTu' ng-model='question.fAnswerTwo' required></p>
            <button type="button" name="button"><a href="#!/home">Cancel</a></button>
            <input type="submit" value="Add Question">
            <div ng-messages='questoin.quest.$error'>
              <div ng-message='required'>Must enter A question</div>
              <div ng-message='minlength'>Question must be 15 characters long</div>
            </div>
            <div ng-messages='questoin.cAns.$error'>
              <div ng-message='required'>Must enter A Correct Answer</div>
            </div>
            <div ng-messages='questoin.fAnsWan.$error'>
              <div ng-message='required'>Must enter A First Fake Answer</div>
            </div>
            <div ng-messages='questoin.fAnsTu.$error'>
              <div ng-message='required'>Must enter A Second Fake Answer</div>
            </div>
        </form>
    </div>
</div>
