<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
    <style media="screen">
      #quote{
        height : 150px;
      }
    </style>
  </head>
  <body>
  <h1>Welcome to Quoting Dojo</h1>
  <h3>Add your favorite movie quote</h3>
  <form  action="/processing" method="post">
    <p>Your Name: <input type="text" name="name"></p>
    <p>Your Quote: <input id ="quote" type="text" name="quote"></p>
    <input style=" display: inline" type="submit" value="Add my quote!">
  </form>
<a  href="/quotes"><button style="position: relative; left: 120px; bottom: 23px"  type="button" name="button">Skip to quotes!</button></a>
  </body>
</html>
