<div ng-controller ='questionController'>
  <div ng-controller ='userController'>
  <a href="#!/dashboard">Home</a> | <a href="" ng-click="logout()">Logout</a>
  <h1>New Question</h1>
  <form ng-submit='newQuestion()'>
    <p>Question: <input type="text" ng-model='question.question'></p>
    <p>Description(optional): <input type="text" ng-model='question.quest_description'></p>
    <button type="button" name="button"><a href="#!/dashboard">Cancel</a></button>
    <input type="submit" value="submit">
  </form>
</div>
</div>
