<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rapper Dashboard | Nicki Minaj</title>
    <style media="screen">
      form {
        display: inline;
        position: relative;
        bottom: 37px;
        left: 100px;
      }
    </style>
  </head>
  <body>
   <h1 style="text-shadow: 4px 4px 5px hotpink;">All songs by Nicki Minaj</h1>
   <ol>
     <%for(song in songs){%>
       <li>
        <p> <a href="#">Title: <%= songs[song].title%></a></p>
         <p><a href="#">Album: <%= songs[song].album%></a></p>
       </li>
       <p><a href="#">Details</a> | <a href="/edit/<%= songs[song]._id%>">Edit</a> |   <span><form  action="/destroy/<%= songs[song]._id%>" method="post">
           <input type="submit" name="" value="delete">
         </form></span></p>
       <%}%>

   </ol>

   <a href="/add">add song</a>
  </body>
</html>
