<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Song | Nicki Minaj</title>
  </head>
  <body>
    <h1>Enter a song By Nicki Minaj</h1>
    <form action="/processing" method="post">
      <p>Title: <input type="text" name="title"></p>
      <p>Album: <input type="text" name="album"></p>
      <!-- <p>Image: <input type="file" name="image" value=""></p>
      <p>Video: <input type="link" name="video" value=""></p> -->
      <input type="submit" value="Submit">
    </form>
    <a href="/">See All Songs</a>
  </body>
</html>
