<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Products</title>
    <script src="" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript">
      var app = angular.module('myApp', []);
      app.controller('MainCtrl', ['$scope', function($scope){
        $scope.items = [ 'benis', "lindi", "cindi"]
        $scope.addItem = function(){

          $scope.items.push(this.food);
          $scope.food= '';

      };
    }]);
    </script>
  </head>
  <body>

    <div class='wrapper' ng-controller='MainCtrl'>
      <div class="form">
    <form ng-submit="addItem()">
      <h3 id="iputt">Favorite Food <input id='input' type="text" ng-model="food" name="food"></h3>
      <button type="button">Add Food</button>

    </form>
    </div>
    <div class="answer">
    <p>Currently Typing: <span ng-bind="food"></span></p>


      <div ng-repeat="item in items | orderBy:''">
          {{item}}
      </div>
      </div>
    </div>
  </body>
</html>
