<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload New Car or Cat pic</title>
  </head>
  <body>
    <h1> Upload new car or cat pic </h1>
    <p>Name: <input type="text" name="" value=""></p>
    <p>Fav Office Character: <input type="text" name="" value=""></p>
    <form class="" action="index.html" method="post">
<input type="file" name="pic" accept="image/*">  <input type="submit">
    </form>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FBasitkOfficial%2Fvideos%2F701650500013938%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </body>
</html>
